*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
header{
    background: rgb(161, 170, 141);
    display: flex;
    align-items: center;
    padding: 20px o;
}
header a{
    color: white;
}
header ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#logo{
    margin: 0 auto;
    font-size: 25px;
}
#menu li{
    padding: 10px;
}
#main{
    display: flex;
}
aside{
    flex: 0 0 20vw;
    padding: 15px;
    background: rgb(110, 50, 50);
}
aside ul{
    list-style: none;
    padding: 0;
}
aside ul a{
    color: white;
    padding: 10px;
    display: block;
    border-bottom: 1px solid gray;
}
aside img{
    width: 100%;
}
article{
    padding: 10px;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    border:1px solid none;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.service-box img{
    width: 100%;
}
.call-to-action{
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a{
    background: gray;
    color: azure;
    padding: 8px 13px;
    display: block;
    
}
.call-to-action a:hover{
    color: gray;
    background: transparent;
    border: 2px solid gray;
}
footer{
    background: rgb(153, 195, 207);
    color: white;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 850px){
    .service-box{
        flex-basis: 48%;
        max-width: 370px;
    }
    aside{
        flex: 0 0 30vw;
    } 
}

@media screen and (max-width: 850px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    #main{
        flex-direction: column;
    }
    article{
        order: -1;
    }
    .services-container{
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }
    } 
